*{
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 992px){
    #nav-mobile {
        display: none;
    }

    nav .sidenav-trigger {
        float: right;
    }
}

.product-view .card {
    margin: 20px 0px;
}

.full-width {
    object-fit: cover;
    width: 100vw;
    height: 55vh;
    margin-left: calc(50% - 50vw);
}

@media screen and (max-width: 992px){
    .full-width {
        height: 30vh
    }
}