{% extends 'base.html' %}

{% block content %}
<h1>Products Page!</h1>
<p>This is a template</p>
<!-- <a class="waves-effect waves-light btn" href="/create">Create</a> -->
<a class="waves-effect waves-light btn modal-trigger" href="#add-modal">Create</a>
<a class="waves-effect waves-light btn" href="/products/details/1">View</a>

<ul class="collection">
{% for obj in object_list %}
    <li class="collection-item">{{ obj.id }}. {{ obj.title}}</li>
{% endfor %}
</ul>

<div id="add-modal" class="modal">
    <form method="POST"> {% csrf_token %}
        <div class="modal-content">
            <h4>Add New Product</h4>
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <button class="btn modal-close waves-effect waves-light">Close</button>
            <button type="submit" class="btn modal-close waves-effect waves-light">Add<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>
{% endblock %}