{% extends 'base.html' %}

{% block content %}
<div class="row product-view">
    <div class="col s12 m6">
        <div class="card red lighten-1">
            <div class="card-content white-text">
                <span class="card-title">{{ object.title }}</span>
                <p>{{ object.description }}</p>
                <p>${{ object.price }}</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light red darken-4 btn" href="{% url 'product_lookup' prev_product_id %}"><i class="material-icons">keyboard_arrow_left</i></a>
                <a class="waves-effect waves-light red darken-4 btn" href="{% url 'product_lookup' next_product_id %}"><i class="material-icons">keyboard_arrow_right</i></a>
                <a class="waves-effect waves-light cyan right modal-trigger btn" href="#delete-modal"><i class="material-icons">delete</i></a>
            </div>
        </div>
    </div>
</div>


<div id="delete-modal" class="modal">
    <form method="POST"> {% csrf_token %}
        <div class="modal-content">
            <h6>Are you sure you want to delete this product?</h6>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light red darken-4 modal-close btn" href="#">No</a>
            <button type="submit" value="Yes" class="waves-effect waves-light cyan model-close btn">Yes<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>
{% endblock %}